/* Google fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  font-size: 62.5%; /* 1rem = 10px */
}

:root {
  /* font sizes & family */
  /* if we set html's font size 62.5% then 1rem = 10px */

  --body-font: "Poppins", sans-serif;

  --big-font: 4rem;
  --h1-font: 3.6rem;
  --h2-font: 2.4rem;
  --h3-font: 2rem;
  --h4-font: 1.8rem;
  --normal-font: 1.6rem;
  --small-font: 1.4rem;
  --smaller-font: 1.3rem;

  /* font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* color variables */
  --primary-color: #6abf4b;
  --primary-color-olive: #748248;
  --primary-color-dark-moss: #4d552f;
  --primary-color-hover: #519636;
  --text-color: #333;
  --text-color-light: #777777;
  --border-color: #d1d1c9;
  --white-color: #fff;
  --section-bg: #2c3034;

  /* z-index */
  --z-overlay: 10;
  --z-fixed: 100;

  /* transition */
  --tran-0-2: 0.2s;
  --tran-0-3: 0.3s;
  --tran-0-5: 0.5s;
}

/* font sizes for small screen 968px */
@media screen and (max-width: 990px) {
  :root {
    --big-font: 3.5rem;
    --h1-font: 2.4rem;
    --h2-font: 2rem;
    --h3-font: 1.8rem;
    --h4-font: 1.6rem;
    --normal-font: 1.5rem;
    --small-font: 1.3rem;
    --smaller-font: 1.2rem;
  }
}

/* pre css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

body {
  overflow-x: hidden;
  background-color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* reusable css */
.section {
  padding: 7rem 2rem;
}

.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.flex {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.button {
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color-hover);
}

.section-subtitle,
.content-subtitle {
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}

.section-title,
.content-title {
  text-align: center;
  font-size: var(--h2-font);
  font-weight: var(--font-medium);
  margin: 1rem 0;
}

.section-description,
.content-description {
  text-align: center;
  margin-bottom: 2rem;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: var(--z-fixed);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* nav */
.nav {
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.nav-link,
.phone-icon,
.phone-number {
  color: var(--white-color);
}

.nav-link::before {
  background-color: var(--text-color);
}

.logo-text {
  /* color: var(--primary-color-dark-moss); */
  color: var(--white-color);
}

.logo-icon {
  fill: var(--primary-color-olive);
}

.menu-list {
  column-gap: 2rem;
}

.nav-link {
  position: relative;
  text-transform: capitalize;
  color: var(--white-color);
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: translateX(-50%);
  /* background-color: var(--primary-color-olive); */
  background-color: var(--white-color);
  opacity: 0;
}

.active-navlink::before {
  opacity: 1;
}

.logo-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.navOpen-btn,
.navClose-btn,
.media-icons {
  display: none;
}

/* nav responsive */

@media screen and (max-width: 768px) {
  .contact-content {
    display: none;
  }
  .navOpen-btn,
  .navClose-btn,
  .media-icons {
    display: block;
  }

  .nav .menu-content {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding: 10rem 0 5rem;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--tran-0-5);
    z-index: calc(var(--z-fixed) + 1);
    /* backdrop-filter: none;
    -webkit-backdrop-filter: none; */
  }

  .nav .menu-content.open {
    right: 0;
  }

  .menu-list {
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--h4-font);
  }

  .navClose-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }

  .navClose-btn,
  .navOpen-btn {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .media-icons {
    column-gap: 1rem;

    /* here  */
    display: flex;
  }

  .media-icons a {
    color: var(--text-color-light);
  }

  .media-icon {
    fill: currentColor;
    /* stroke: var(--text-color-light); */
    height: 18px;
    width: 18px;
  }
}

/* home  */
.home {
  height: 100vh;
  width: 100%;
}

.home-img {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  height: 100vh;
  width: 100%;
}

.swiper-slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: var(--z-overlay);
}

/* swiper button  */
.swiper-navBtn {
  height: 5rem;
  width: 5rem;
  color: var(--white-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: var(--tran-0-2);
  opacity: 0;
  visibility: visible;
}

.home:hover .swiper-navBtn {
  opacity: 1;
}

.swiper-navBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 30px;
  height: 30px;
}

.mySwiper {
  --swiper-navigation-sides-offset: 16rem;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  background: var(--white-color);
  transition: 0.3s ease;
  visibility: hidden;
}

.swiper .swiper-pagination-bullet-active {
  background: var(--primary-color);
  opacity: 1;
}

.home-details {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--z-fixed);
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 4rem;
}

.homeSubtitle {
  text-align: center;
  font-size: var(--normal-font);
  color: var(--white-color);
}

.homeTitle {
  text-align: center;
  font-size: var(--big-font);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

/* about  */
.about .content-subtitle,
.about .content-title,
.about .content-description {
  text-align: left;
}
.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7rem;
  align-items: center;
  padding: 0 5rem;
}

.about-imageContent {
  position: relative;
  min-width: 400px;
  height: 450px;
  border: 6px solid var(--primary-color-dark-moss);
}

.aboutImg-textBox {
  position: absolute;
  bottom: 2rem;
  right: -5rem;
  padding: 2rem;
  max-width: 360px;
  background-color: var(--white-color);
  width: 100%;
  text-align: center;
  border: 6px solid var(--primary-color-dark-moss);
}

.aboutImg-textBox .content-description {
  text-align: center;
  margin-bottom: 0;
}

.heart-icon {
  position: absolute;
  left: -1.9rem;
  top: 50%;
  height: 3rem;
  width: 3rem;
  color: var(--white-color);
  background-color: var(--primary-color-dark-moss);
  transform: translateY(-50%);
  justify-content: center;
  border-radius: 50%;
}

.about-details {
  display: grid;
  row-gap: 4rem;
}

.about-lists {
  column-gap: 1rem;
  align-items: baseline;
}

.about-lists {
  font-weight: var(--normal-font);
  font-size: 1.8rem;
}

.about-list:nth-child(1) {
  color: var(--primary-color);
}

.about-list .dot {
  font-size: 2.5rem;
}

.about-buttons {
  column-gap: 2rem;
}

.about-link .link-text,
.about-arrowIcon {
  color: var(--text-color);
  text-transform: uppercase;
}

.about-link {
  gap: 8px;
}

.about-arrowIcon {
  transform: rotate(90deg);
  transition: var(--tran-0-3);
}

.about-link:hover .about-arrowIcon {
  transform: rotate(90deg);
  margin-left: 4px;
}

/* menu  */
.menu {
  /* background-color: var(--section-bg); */
  background-color: var(--primary-color-dark-moss);
}

.section-title,
.section-description {
  color: var(--white-color);
}

.menu .menu-content {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  column-gap: 6rem;
  margin-top: 6rem;
}

.menu-img {
  height: 80px;
  width: 80px;
  margin-right: 1.5rem;
}

.menu-items {
  display: grid;
  row-gap: 1.5rem;
}

.menu-item {
  position: relative;
  background-color: var(--white-color);
  padding: 2rem 2.5rem;
}

.menuItem-details {
  margin-right: 1.5rem;
}

.menuItem-topic {
  font-size: var(--font-semi-bold);
}

.menuItem-description {
  font-size: var(--small-font);
}

.menuItem-price {
  flex-direction: column;
  padding-left: 2rem;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.discount-price {
  font-size: 1.8rem;
}

.real-price {
  text-decoration: line-through;
}

.time-topic {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: var(--font-regular);
  padding: 1.5rem 0;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.time-list {
  padding: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  background-color: var(--white-color);
}

.time-list:nth-child(7) {
  border-bottom: none;
}

/* brand  */
.brand-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  justify-items: center;
}

.brand-image {
  width: 150px;
  height: auto;
  object-fit: contain;
  opacity: 0.6;
  transition: var(--tran-0-5);
}

.brand-image:hover {
  opacity: 1;
}

/* review  */

/* responsive media  */
@media screen and (max-width: 768px) {
  .swiper-navBtn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
}
