/* Google fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

:root {
  /* font sizes & family */
  /* if set html's font size 62.5% then 1rem = 10px */

  --body-font: "Poppins", sans-serif;

  --big-font: 4rem;
  --h1-font: 3.6rem;
  --h2-font: 2.4rem;
  --h3-font: 2rem;
  --h4-font: 1.8rem;
  --normal-font: 1.6rem;
  --small-font: 1.4rem;
  --smaller-font: 1.3rem;

  /* font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* color variables */
  --primary-color: #6abf4b;
  --primary-color-olive: #748248;
  --primary-color-dark-moss: #4d552f;
  --primary-color-hover: #519636;
  --text-color: #333;
  --text-color-light: #777777;
  --border-color: #d1d1c9;
  --white-color: #fff;
  --section-bg: #2c3034;

  /* z-index */
  --z-overlay: 10;
  --z-fixed: 100;

  /* transition */
  --tran-0-2: 0.2s;
  --tran-0-3: 0.3s;
  --tran-0-5: 0.5s;
}

/* font sizes for small screen 968px */
@media screen and (max-width: 990px) {
  :root {
    --big-font: 3.5rem;
    --h1-font: 2.4rem;
    --h2-font: 2rem;
    --h3-font: 1.8rem;
    --h4-font: 1.6rem;
    --normal-font: 1.5rem;
    --small-font: 1.3rem;
    --smaller-font: 1.2rem;
  }
}

/* pre css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

body {
  overflow-x: hidden;
  background-color: var(--white-color);
}

input {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* reusable css */
.section {
  padding: 7rem 2rem;
}

.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.button {
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color-hover);
}

.section-subtitle,
.content-subtitle {
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}

.section-title,
.content-title {
  text-align: center;
  font-size: var(--h2-font);
  font-weight: var(--font-medium);
  margin: 1rem 0;
}

.section-description,
.content-description {
  text-align: center;
  margin-bottom: 2rem;
}

.section-description {
  padding: 0 16rem;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: var(--z-fixed);
}

.header-active {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 8px rgba(44, 44, 44, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

/* nav */
.nav {
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.logo-text,
.nav-link,
.phone-icon,
.phone-number,
.navOpen-btn {
  color: var(--white-color);
}

.nav-link::before {
  background-color: var(--text-color);
}

.header-active .logo-text,
.header-active .nav-link,
.header-active .phone-icon,
.header-active .phone-number {
  color: var(--text-color);
}

.header-active .logo-icon {
  filter: none;
}

.logo-icon {
  fill: var(--primary-color-olive);
}

.menu-list {
  column-gap: 2rem;
}

.nav-link {
  position: relative;
  text-transform: capitalize;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  opacity: 0;
}

.active-navlink::before {
  opacity: 1;
}

.header-active .active-navlink::before {
  background-color: var(--text-color);
}

.logo-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  filter: drop-shadow(0 1px 2px rgba(77, 85, 47, 0.7));
}

.media-icons {
  column-gap: 1rem;
}

.media-icons a {
  color: var(--text-color-light);
}

.media-icon {
  fill: currentColor;
  height: 1.8rem;
  width: 1.8rem;
}

.navOpen-btn,
.navClose-btn,
.media-icons {
  display: none;
}

/* nav responsive */
@media screen and (max-width: 768px) {
  .contact-content {
    display: none;
  }
  .navOpen-btn,
  .navClose-btn,
  .media-icons {
    display: block;
  }

  .nav .menu-content {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding: 10rem 0 5rem;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--tran-0-5);
    z-index: calc(var(--z-fixed) + 1);
  }

  .nav .menu-content.open {
    right: 0;
  }

  .menu-list {
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--h4-font);
  }

  .navClose-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }

  .navClose-btn,
  .navOpen-btn {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .nav-link {
    color: var(--text-color);
  }

  .nav-link::before {
    background-color: var(--text-color);
  }
}

/* home  */
.home {
  height: 100vh;
  width: 100%;
}

.home-img {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  height: 100vh;
  width: 100%;
}

.home .swiper-slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: var(--z-overlay);
}

/* swiper button  */
.swiper-navBtn {
  height: 5rem;
  width: 5rem;
  color: var(--white-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: var(--tran-0-2);
  opacity: 0;
  visibility: visible;
}

.home:hover .swiper-navBtn,
.review:hover .swiper-navBtn {
  opacity: 1;
}

.swiper-navBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 30px;
  height: 30px;
}

.mySwiper .swiper-button-next {
  right: 16rem;
}
.mySwiper .swiper-button-prev {
  left: 16rem;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  background: var(--white-color);
  transition: 0.3s ease;
  visibility: hidden;
}

.swiper .swiper-pagination-bullet-active {
  background: var(--primary-color);
  opacity: 1;
}

.home-details {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--z-fixed);
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 4rem;
}

.homeSubtitle {
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: var(--normal-font);
  color: var(--white-color);
}

.homeTitle {
  text-align: center;
  font-size: var(--big-font);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

/* about  */
.about .content-subtitle,
.about .content-title,
.about .content-description {
  text-align: left;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7rem;
  align-items: center;
  padding: 0 5rem;
}

.about-imageContent {
  position: relative;
  min-width: 400px;
  height: 450px;
  border: 6px solid var(--primary-color-dark-moss);
}

.aboutImg-textBox {
  position: absolute;
  bottom: 2rem;
  right: -5rem;
  padding: 2rem;
  max-width: 360px;
  background-color: var(--white-color);
  width: 100%;
  text-align: center;
  border: 6px solid var(--primary-color-dark-moss);
}

.aboutImg-textBox .content-description {
  text-align: center;
  margin-bottom: 0;
}

.heart-icon {
  position: absolute;
  left: -1.9rem;
  top: 50%;
  height: 3rem;
  width: 3rem;
  color: var(--white-color);
  background-color: var(--primary-color-dark-moss);
  transform: translateY(-50%);
  justify-content: center;
  border-radius: 50%;
}

.about-details {
  display: grid;
  row-gap: 4rem;
}

.about-lists {
  column-gap: 1rem;
  align-items: baseline;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.about-list {
  font-weight: var(--normal-font);
  font-size: 1.8rem;
  white-space: nowrap;
}

.about-list:nth-child(1) {
  color: var(--primary-color);
}

.about-list.dot {
  font-size: 2.5rem;
  color: var(--text-color-light);
}

.about-buttons {
  column-gap: 2rem;
}

.about-link .link-text,
.about-arrowIcon {
  color: var(--text-color);
  text-transform: uppercase;
}

.about-link {
  gap: 8px;
}

.about-arrowIcon {
  transform: rotate(90deg);
  transition: var(--tran-0-3);
}

.about-link:hover .about-arrowIcon {
  transform: rotate(90deg);
  margin-left: 4px;
}

/* menu  */
.menu {
  background-color: var(--section-bg);
}

.section-title,
.section-description {
  color: var(--white-color);
}

.menu .menu-content {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  column-gap: 6rem;
  margin-top: 6rem;
}

.menu-img {
  height: 80px;
  width: 80px;
  margin-right: 1.5rem;
}

.menu-items {
  display: grid;
  row-gap: 1.5rem;
}

.menu-item {
  position: relative;
  background-color: var(--white-color);
  padding: 2rem 2.5rem;
}

.menuItem-details {
  margin-right: 1.5rem;
}

.menuItem-topic {
  font-size: var(--font-semi-bold);
}

.menuItem-description {
  font-size: var(--small-font);
}

.menuItem-price {
  flex-direction: column;
  padding-left: 2rem;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.discount-price {
  font-size: 1.8rem;
}

.real-price {
  text-decoration: line-through;
}

.time-topic {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: var(--font-regular);
  padding: 1.5rem 0;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.time-list {
  padding: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  background-color: var(--white-color);
}

.time-list:nth-child(7) {
  border-bottom: none;
}

/* brand  */
.brand-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  justify-items: center;
}

.brand-image {
  width: 150px;
  height: auto;
  object-fit: contain;
  opacity: 0.6;
  transition: var(--tran-0-5);
}

.brand-image:hover {
  opacity: 1;
}

/* review  */
.review {
  background-color: #f2f2f2;
}

.review .section-title,
.review .section-description {
  color: var(--text-color);
}

.testi-content {
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  row-gap: 2rem;
}

.review-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.review-quote {
  padding: 0 15rem;
  text-align: center;
  font-style: italic;
}

.quote-icon {
  height: 3rem;
  width: 3rem;
  color: var(--primary-color);
}

.testi-personDetails {
  flex-direction: column;
}

.testi-personDetails .name {
  font-size: 1.8rem;
  font-weight: var(--font-medium);
}

/* swiper-btn  */
.review .swiper-navBtn {
  background-color: rgba(0, 0, 0, 0.1);
}

.review .swiper-button-next {
  transform: translateY(2rem);
  right: 2rem;
}

.review .swiper-button-prev {
  left: 2rem;
  transform: translateY(2rem);
}

.review .swiper-navBtn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* newsletter  */
.newsletter .logo-icon,
.newsletter .logo-text,
.newsletter .section-description {
  color: var(--text-color);
}

.newsletter-container {
  display: grid;
  justify-items: center;
  row-gap: 6rem;
}

.newsletter .logo-icon {
  width: 3rem;
  height: 3rem;
  color: var(--text-color-light);
  font-weight: var(--font-medium);
  filter: none;
}

.newsletter .logo-text {
  font-size: 2rem;
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}

.newsletter-inputBox {
  position: relative;
  height: 5rem;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
}

.newsletter-input {
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0 16rem 0 2rem;
}

.newsletter-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 3rem 3rem 0;
  height: 100%;
}

.newsletter .media-icons {
  display: flex;
}

/* footer  */
.footer {
  padding: 4rem 2rem 3rem;
  background-color: var(--section-bg);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  align-items: center;
}

.footer-content {
  display: grid;
  row-gap: 3rem;
}

.footer-content .logo-icon {
  filter: none;
}

.footer .content-description,
.footer .location-text {
  text-align: left;
  font-size: var(--small-font);
}

.footer .location-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.footer .content-description,
.footer .location-icon,
.footer .location-text {
  color: var(--text-color-light);
}

.footer-linkContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
}

.footer-links {
  display: grid;
  row-gap: 1rem;
  font-weight: var(--font-medium);
  color: var(--white-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.5);
  font-size: var(--small-font);
  transition: var(--tran-0-3);
}

.footer-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer-copyRight {
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  font-size: var(--small-font);
  color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid var(--text-color-light);
}

/* scroll up  */
.scrollUp-btn {
  position: fixed;
  bottom: -30%;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  border-radius: 4px;
  background-color: var(--white-color);
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  z-index: var(--z-overlay);
  background-color: var(--white-color);
  transition: all var(--tran-0-3) ease;
  opacity: 0;
  visibility: hidden;
}

.scrollUpBtn-active {
  bottom: 3rem;
  opacity: 1;
  visibility: visible;
}

.scrollUp-icon {
  height: 2.5rem;
  width: 2.5rem;
  color: var(--primary-color-dark-moss);
  transition: var(--tran-0-3);
  opacity: 0.9;
}

.scrollUp-btn:hover .scrollUp-icon {
  opacity: 1;
}

/* responsive media  */
@media screen and (max-width: 1150px) {
  .mySwiper .swiper-button-next {
    right: 10rem;
  }
  .mySwiper .swiper-button-prev {
    left: 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .mySwiper .swiper-button-next {
    right: 3rem;
  }
  .mySwiper .swiper-button-prev {
    left: 3rem;
  }
  .section-description {
    padding: 0 8rem;
  }

  .about-imageContent {
    height: 400px;
  }

  .aboutImg-textBox {
    padding: 1.5rem 2rem;
  }

  .menu .menu-content {
    grid-template-columns: 1.5fr 1fr;
    column-gap: 3rem;
  }

  .brand-images {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }

  .section {
    padding: 7rem 1rem;
  }

  .section-description,
  .review-quote {
    padding: 0 6rem;
  }

  .about-content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    justify-items: center;
  }

  .about .content-subtitle,
  .about .content-title,
  .about .content-description {
    text-align: center;
  }

  .about-details {
    justify-items: center;
  }

  .about-lists {
    justify-content: center;
  }

  .menu .menu-content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .footer-container {
    row-gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }
  .section-description,
  .review-quote {
    padding: 0;
  }
  .brand-images {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }

  .footer-content {
    justify-items: center;
  }

  .footer-linkContent {
    justify-items: center;
  }
}
